{% load static %}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Gautamsinh World{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

{% block css %}
{% endblock %}


</head>

<body>

<nav class="navbar">


<div class="logo">
      Gautamsinh Photo Gallery  
</div>



<div class="nav-menu">
    <a href="{% url 'home' %}" class="nav-btn">
        🏠 Home
    </a>

    <a href="{% url 'upload' %}" class="nav-btn">
        📸 Add Photos
    </a>

    {% if user.is_authenticated %}
    
    <a href="{% url 'logout' %}" class="nav-btn">
        🚪 Logout
    </a>
    <div class="nav-btn"> Welcome, {{ user.username }} </div> 
    
{% else %}
    <a href="{% url 'login' %}" class="nav-btn">
        🔑 Login
    </a>

   

    <a href="{% url 'signup' %}" class="nav-btn">
        📝 Sign Up
    </a>
{% endif %}
</div>


</nav>

{% block content %}

<div class="container">


<p>ॐ श्री गणेशाय नमः</p>

<img
    src="{% static 'g.jpeg' %}"
    alt="Ganesh"
    class="main-image"
>


</div>

{% endblock %}

<div class="rain r1"></div>
<div class="rain r2"></div>
<div class="rain r3"></div>
<div class="rain r4"></div>
<div class="rain r5"></div>
<div class="rain r6"></div>
<div class="rain r7"></div>

<script src="{% static 'js/main.js' %}"></script>    

</body>
</html>
