{% extends "base.html" %}
{% load static %}

<!-- {% block title %}
Home
{% endblock %} -->

{% block css %}

<style>
.container{
    text-align:center;
    padding:50px 20px;
}

.container p{
    color:white;
    font-size:2rem;
    margin-bottom:20px;
}

.main-image{
    width:100%;
    max-width:450px;
    border-radius:20px;
}
</style>

{% endblock %}

{% block content %}

<div class="container">

<p>ॐ श्री गणेशाय नमः</p>

 <img src="{% static 'g.jpeg' %}"
     class="main-image"
     alt="Ganesh">


</div>

{% endblock %}
