{% extends "base.html" %}
{% load static %}

{% block title %}
Login
{% endblock %}

{% block css %}

{% endblock %}

{% block content %}

<div class="login-page">

    ```
    <img src="{% static 'a.jpeg' %}" class="photo photo1">
    <img src="{% static 'b.jpeg' %}" class="photo photo2">
    <img src="{% static 'c.jpeg' %}" class="photo photo3">
    <img src="{% static 'd.jpeg' %}" class="photo photo4">




    <div class="card">

        <div class="logo">
            {% if messages %}
            {% for message in messages %}
            <p class="message">{{ message }}</p>
            {% endfor %}
            {% endif %}
        </div>

        <div class="logo">
            📸 Gautamsinh Gallery
        </div>

        <p class="subtitle">
            Save and Share Your Memories
        </p>

        <form method="POST">
            {% csrf_token %}

            <input type="text" name="username" class="form-input" placeholder="Username" required>

            <input type="password" name="password" class="form-input" placeholder="Password" required>

            <button type="submit" class="btn">
                Login
            </button>
        </form>

        <div class="link">
            Don't have an account?
            <a href="{% url 'signup' %}">
                Sign Up
            </a>
        </div>

    </div>
    ```

</div>

{% endblock %}