{% extends "base.html" %}

<!-- {% block title %}
Photo Gallery
{% endblock %} -->

{% block css %}

<style>
.container{
    max-width:1200px;
    margin:auto;
    padding:30px 20px;
}

.heading{
    text-align:center;
    color:white;
    margin-bottom:30px;
}

.form-card{
    background:rgba(255,255,255,.1);
    padding:25px;
    border-radius:20px;
    margin-bottom:40px;
}

input[type="text"],
input[type="file"]{
    width:100%;
    padding:12px;
    margin-bottom:15px;
    border:none;
    border-radius:10px;
}

button{
    width:100%;
    padding:14px;
    border:none;
    border-radius:10px;
    background:#22c55e;
    color:white;
    cursor:pointer;
}

.gallery{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
    gap:25px;
}

.card{
    background:white;
    border-radius:18px;
    overflow:hidden;
}

.card img{
    width:100%;
    height:280px;
    object-fit:cover;
}

.card-content{
    padding:15px;
    text-align:center;
}

.empty{
    color:white;
    text-align:center;
}
</style>

{% endblock %}

{% block content %}

<div class="container">

```
<div class="heading">
    <h1>📸 Photo Gallery</h1>
    <p>Upload and View Your Photos</p>
</div>
<div >

    {% if messages %}
    {% for message in messages %}
    <p style="color: red; text-align: center;">{{ message }}</p>
    {% endfor %}
    {% endif %}
</div>
<div class="form-card">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <input type="text"
               name="title"
               placeholder="Enter Photo Title"
               required>

        <input type="file"
               name="image"
               accept="image/*"
               required>

        <button type="submit">
            Upload Photo
        </button>
    </form>
</div>

<div class="gallery">

    {% for photo in photos %}
    <div class="card">
        <img src="{{ photo.image.url }}" alt="{{ photo.title }}">
        <div class="card-content">
            <h3>{{ photo.title }}</h3>
        </div>
    </div>
    {% empty %}
    <div class="empty">
        No photos uploaded yet.
    </div>
    {% endfor %}

</div>
```

</div>

{% endblock %}

