{% extends "base.html" %}

{% block css %}



{% endblock %}

{% block content %}

<div class="container">

    <div class="heading">
        <h1>📸 Photo Gallery</h1>
        <p>Upload and View Your Photos</p>
    </div>

    <!-- <div>

        {% if messages %}

        {% for message in messages %}

        <p class="message">{{ message }}</p>

        {% endfor %}

        {% endif %}

    </div> -->

    <div class="form-card">

        <form method="POST" enctype="multipart/form-data">

            {% csrf_token %}

            <input type="text" name="title" placeholder="Enter Photo Title" required>

            <input type="file" id="image" name="image" accept="image/*" required>

            <button type="submit">

                Upload Photo

            </button>

        </form>

    </div>

    <div class="gallery">

        {% for photo in photos %}

        <div class="card">

            <img src="{{ photo.image.url }}" alt="{{ photo.title }}"
                onclick="openImage('{{ photo.image.url }}','{{ photo.title }}')">

            <div class="card-content">

                <h3>{{ photo.title }}</h3>

            </div>

        </div>

        {% empty %}

        <div class="empty">

            No photos uploaded yet.

        </div>

        {% endfor %}

    </div>

    <!-- Image Modal -->

    <div id="imageModal" class="modal">

        <span class="close" onclick="closeImage()">

            &times;

        </span>

        <img id="modalImage" class="modal-content">

        <div id="caption"></div>

    </div>

</div>

{% endblock %}